body {
  font-family:  Gotham, Garamond, Palatino, "Times New Roman", Times, serif;
  font-size: 18px;
  color: #262424;
  position: relative;
  background: #FFF;
  margin: 0;
  padding: 0;
}
p {	
  line-height: 1.6;
  margin: 20px 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family:  Gotham, Garamond, Palatino, "Times New Roman", Times, serif;
  font-weight: 800;
}
a {
  text-decoration: none;
  color: #800000;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: #800000;
}
blockquote {
  color: #800000;
  font-style: italic;
}
blockquote p:first-child {
  margin-top: 0;
}
pre {
  font-size: 0.9em;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
::selection {
  color: white;
  text-shadow: none;
  background: #0085a1;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
h1, .h1 {
  font-size: 40px;
}
h2, .h2 {
  font-size: 34px;
}
h3, .h3 {
  font-size: 28px;
}
h4, .h4 {
  font-size: 22px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 26px;
}
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 20px;
}

